.App header {
  display: flex;
  width: 100%;
  background-color: #1e293b;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #991a1a;
  padding: 2.4rem;
}
.App header strong {
  color: white;
}

.App main h4 {
  color: #fff7ed;
  text-align: center;
  margin-top: 1.5rem;
}
.App main h2 {
  color: #fff7ed;
  text-align: center;
  margin-top: 1.5rem;
}

.App main .Search {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App main .Search input {
  display: flex;
  color: #fff;
  background-color: #1e293b;
  width: 15rem;
  padding: 0.5rem;
  border: 1px solid #881337;
  margin-right: 0.5rem;
  border-radius: 0.7rem;
  text-align: center;
}

.App main .Search button {
  display: flex;
  justify-content: center;
  height: 2rem;
  background-color: #1b2438;
  border-radius: 0.7rem;
  cursor: pointer;
  padding: 0.5rem;
  width: 3rem;
}
.App main .Search button img {
    background-size: cover;
background-repeat: no-repeat;
background-position: center;
border-radius: 50%;
width: 100%;
height: 100%;

}

.App main .Search button:hover {
  transition: 0.2s ease-in-out;
  opacity: 0.6;
}

.App .video_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .App header {
    font-size: 1.1rem;
  }

  .App main .Search input {
    width: 20rem;
    padding: 0.8rem;
    font-size: 1rem;
  }

  .App main .Search button {
    height: 2.5rem;
  }

  .App main h2 {
    font-size: 2rem;
  }
  .App .video_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

}
@media (min-width: 1440px) {
  .App header {
    font-size: 1.5rem;
  }
  .App main .Search input {
    width: 25rem;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .App main .Search button {
    height: 2.8rem;
  }

  .App main h2 {
    font-size: 2.2rem;
  }
}

@media (min-width: 1920px) {
  .App header {
    font-size: 2rem;
  }
  .App main .Search input {
    width: 33rem;
    padding: 1.5rem;
    font-size: 2rem;
  }

  .App main .Search button{
    width:5rem;
    height: 4.3rem;
  }

  .App main h2 {
    font-size: 3rem;
  }
}
