*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    box-shadow: 0 0 0 0 ;
    outline: none;
}
body{
    background-color: #0f172a;
    font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar{
    background-color:transparent;
    border-radius: 1rem;
    width: 15px;
}
body::-webkit-scrollbar-thumb {
    background-color: #ec0e0e5b; 
    border-radius: 20px;       
  }