.video_section {
  display: flex;
  flex-direction: column;
  margin-top: 3rem ;
  text-align: center;
  align-items: center;
  justify-content: center;

}
.video_section_main{
    display: flex;
    margin-top: 0.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.video_section_main img {
  border-radius:2rem;
  margin-right: 0.5rem;
}
.video_section_main h3 {
 width:40%;
  color: #dcdcdc;
}
.video_section_main h3 a {
 
  margin-top: 1rem;
  text-decoration: none;
  color: inherit;
}
.video_section_main h3:hover {
  transition: all 0.2s ease-in-out;
  color: #6495ed;
}